html,
body {
    height: 100%;
    margin: 0;

}

body {
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 0;
    flex: 1;
    min-height: 400px; /* Đặt chiều cao tối thiểu */

}

.main-carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.carousel-cell {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative; /* Để đặt văn bản lên trên ảnh */
  background: #ffffff !important; /* Thêm nền trắng */
}

.carousel-cell img {
    display: block;
    width: 100vw !important;
    height: 100%;
    object-fit: cover !important;
    object-position: center;
}


/* Định kiểu cho văn bản */
.carousel-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000; 
    z-index: 1; 
    padding-top: 1rem;
    padding-left: 2rem;

}

.carousel-text h1 {
    font-size: 4rem; 
    font-weight: normal; 
    margin-bottom: 0.5rem;
    padding-top: 225px;
}

.shop-link {
    font-size: 1rem;
    color: #000;
    text-underline-offset: 8px; 
    margin-top: 18px;
}

.shop-link:hover {
    text-decoration: none;
}

.product-info {
    font-size: 0.9rem;
    position: absolute;
    top: 79.5%; 
    left: 40px; 
    margin-top: 0; 
}


.product-info span::before {
    content: "";
    display: inline-block;/* Dấu gạch dọc mờ */
    height: 1.5em;
    border-left: 2px solid rgba(189, 189, 189, 0.6); 
    margin: 0 13px; 
    vertical-align: middle; 
}

/* Style cho các thẻ a trong top bar */
.top-bar a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    transition: none;
}

.top-bar a:hover {
    color: #fff;
    text-decoration: none;
}

