html,
body {
  height: 100%;
  margin: 0;
}
body {
  flex-direction: column;
  min-height: 100vh;
}
main {
  padding: 0;
  flex: 1;
  min-height: 400px;
}
.main-carousel {
  width: 100%;
  height: 98vh;
  min-height: 98vh;
  overflow: hidden;
}
.carousel-cell {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background: #ffffff !important;
}
.carousel-cell img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  object-position: center;
}
.carousel-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  z-index: 1;
  padding-top: 1rem;
  padding-left: 2rem;
}
.carousel-text h1 {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  padding-top: 225px;
}
.shop-link {
  font-size: 1rem;
  color: #000;
  text-underline-offset: 8px;
  margin-top: 18px;
}
.shop-link:hover {
  text-decoration: none;
}
.product-info {
  font-size: 0.9rem;
  position: absolute;
  top: 79.5%;
  left: 40px;
  margin-top: 0;
}
.product-info span::before {
  content: "";
  display: inline-block; /* Dấu gạch dọc mờ */
  height: 1.5em;
  border-left: 2px solid rgba(189, 189, 189, 0.6);
  margin: 0 13px;
  vertical-align: middle;
}
.top-bar a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  transition: none;
}
.top-bar a:hover {
  color: #fff;
  text-decoration: none;
}
.feature-box {
  min-height: 60px;
  padding: 10px 0;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.features-section .d-flex {
  gap: 0.05rem !important;
  justify-content: flex-start !important;
}
.features-section .feature-box i {
  font-size: 3rem;
  color: #222;
  min-width: 48px;
}
.features-section .feature-box i:hover {
  animation: icon-flicker 0.5s cubic-bezier(.4,0,.2,1);
}
@keyframes icon-flicker {
  0% {
    opacity: 1;
    transform: scale(0.7);
  }
  20% {
    opacity: 0;
    transform: scale(0.8);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 1;
    transform: scale(0.8);
  }
  80% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.features-section .letter-title {
  font-size: 1.1rem;
  color: #181818;
}
.features-section .text-muted {
  font-size: 1rem;
}
.features-section .feature-box {
  justify-content: flex-start !important;
  padding-left: 1.8rem;
}
